<footer class="pb-4 lg:pb-24 w-full fixed bottom-0">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="relative" x-data="{ open: false }" @click.away="open = false">
      <button class="p-5 bg-rose-900 rounded-xl rounded-br-none absolute right-0 bottom-0 hover:bg-rose-700 active:bg-rose-700 focus:bg-rose-700" x-on:click="open = ! open">
        <div class="w-5 h-5 flex items-center justify-center relative">
          <span
            x-bind:class="open ? 'rotate-45' : ''"
            class="transform transition w-full h-0.5 absolute rounded bg-white"
          ></span>
          <span
            x-bind:class="open ? 'rotate-45' : ''"
            class="transform transition h-full absolute w-0.5 rounded bg-white"
            ></span>
        </div>
      </button>
      <div
        :class="{ 'block': open, 'hidden': ! open }" 
        class="hidden absolute right-0 bottom-20 rounded-xl bg-rose-900 overflow-hidden" 
        x-show="open" 
        x-transition
        x-cloak
      >
        {% if social %}
          <div class="">
            {% for item in social %}
              <a class="text-white uppercase block text-center hover:text-gray-200 hover:bg-rose-700 transition-all py-3 px-5 lg:py-5 lg:px-10 lg:text-xl" href="{{ item.url }}" target="{{ item.target }}">
                {{ item.label }}
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</footer><!-- End Footer -->