<header
  class="z-50 flex-none w-full pt-4 text-sm font-medium leading-6 text-gray-700 transition-all dark:text-gray-100 lg:pt-16 xl:pt-24"
  x-data="{ scrolled: false, navOpen: false }"
  :class="{ 'bg-gray-200 fixed dark:bg-gray-900 drop-shadow bg-opacity-75 dark:bg-opacity-75 dark:drop-shadow py-4 lg:pt-4 xl:pt-4' : scrolled }"
  @scroll.window="scrolled = (window.pageYOffset > 20) ? true : false"
  @click.away="navOpen = false"
>
  <nav class="container px-4 mx-auto sm:px-6 lg:px-8">
    <div class="flex items-center flex-nowrap">
      <a aria-label="{{ site.title }}" class="flex-none" href="/">
        <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg">
          <g style="display:inline"><path class="fill-gray-700 dark:fill-rose-900" style="stroke-linecap:round" d="M25 70V30a5 5 135 0 1 5-5h40a5 5 45 0 1 5 5v10H45a4.996 4.996 134.98 0 0-4.996 5l.02 30H30a5 5 45 0 1-5-5zM70 60.078l-5-.039A4.97 4.97 135.273 0 0 59.99 65l-.008 4.914A5.078 5.078 45.05 0 0 65.061 75H75v-9.882a5.04 5.04 45.223 0 0-5-5.04z" transform="translate(-25 -25)"/></g>
        </svg>
      </a>
      <div
        class="flex justify-end transition-all duration-300 origin-bottom transform grow sm:mt-0 sm:ml-auto sm:w-auto lg:origin-right"
        x-data="filterNav()"
      >
        <div
          x-transition:enter-start="opacity-0 lg:scale-75"
          x-transition:enter-end="opacity-100 lg:scale-100"
          x-transition:leave-start="opacity-100 lg:scale-100"
          x-transition:leave-end="opacity-0 lg:scale-75"
          :class="{ 'hidden sm:flex' : navOpen, 'hidden' : !navOpen }"
          x-cloak
          class="fixed flex-col items-center text-center uppercase bg-gray-900 bg-opacity-75 navigation w-100 text-light top-8 rounded-xl sm:static sm:flex-row sm:space-x-6 sm:bg-opacity-0 sm:bg-none"
        >
          {%- for nav in navigation -%}
            <a
            @click="clicked"
            x-bind:class="value === '#{{ nav.route }}' ? 'text-gray-400 dark:text-rose-900': ''"
            class="block px-6 py-3 text-2xl uppercase transition-colors text-md hover:text-gray-400 dark:hover:text-rose-900 sm:px-0 sm:py-0"
            href="#{{ nav.route }}"
          >
              {{ nav.name }}
            </a>
          {%- endfor -%}
        </div>
        <button
          x-on:click="navOpen = ! navOpen"
          class="flex items-center ml-4 space-x-4 uppercase group focus:outline-none" aria-label="Menu Navigation"
        >
          <div class="relative flex items-center justify-center w-10 h-10">
            <span
              x-bind:class="navOpen ? 'translate-y-0 rotate-45' : '-translate-y-3'"
              class="absolute w-full h-1 transition transform bg-current rounded group-hover:bg-gray-400 dark:group-hover:bg-rose-900"
            ></span>
            <span
              x-bind:class="navOpen ? 'opacity-0 translate-x-3 w-10' : 'opacity-100'"
              class="absolute right-0 w-4/5 h-1 transition transform bg-current rounded group-hover:bg-gray-400 dark:group-hover:bg-rose-900"
            ></span>
            <span
              x-bind:class="navOpen ? 'translate-y-0 -rotate-45 w-10' : 'translate-y-3 w-3/5'"
              class="absolute right-0 h-1 transition transform bg-current rounded group-hover:bg-gray-400 dark:group-hover:bg-rose-900"
            ></span>
          </div>
        </button>
      </div>
      <div class="flex items-center ml-4">
        <label for="toggle-dark-mode" class="flex items-center cursor-pointer">
          <div class="relative">
            <input aria-label="Dark Mode Switch" type="checkbox" id="toggle-dark-mode" class="sr-only" @click="setTheme">
            <div class="block h-8 bg-gray-700 rounded-full w-14"></div>
            <div class="absolute w-6 h-6 transition bg-gray-100 rounded-full dot left-1 top-1"></div>
          </div>
        </label>
      </div>
    </div>
  </nav>
  <nav 
    :class="{ 'bg-transparent dark:bg-transparent' : scrolled }"
    class="mt-4 text-center bg-gray-200 bg-opacity-75 mobile-navigation dark:bg-gray-900 dark:bg-opacity-75 sm:text-left sm:hidden" 
    x-show="navOpen"
    x-data="filterNav"
  >
    <div
      x-transition:enter-start="opacity-0 lg:scale-75"
      x-transition:enter-end="opacity-100 lg:scale-100"
      x-transition:leave-start="opacity-100 lg:scale-100"
      x-transition:leave-end="opacity-0 lg:scale-75"
      :class="{ 'block sm:hidden' : navOpen, 'hidden' : !navOpen }"
      x-cloak
      class="navigation"
    >
      {%- for nav in navigation -%}
        <a
        @click="clicked"
        x-bind:class="value === '#{{ nav.route }}' ? 'text-gray-400 dark:text-rose-900': ''"
        class="block px-6 py-3 text-2xl uppercase transition-colors text-md hover:text-gray-400 dark:hover:text-rose-900 sm:px-0 sm:py-0"
        href="#{{ nav.route }}"
      >
          {{ nav.name }}
        </a>
      {%- endfor -%}
    </div>
  </nav>
</header>
<!-- End Header -->