<!DOCTYPE html>
<html
  lang="en"
  class="font-sans scroll-smooth"
  x-data="{
    setTheme: () => {
      if (localStorage.theme === 'dark') {
        localStorage.theme = 'light';
        document.documentElement.classList.remove('dark');
      } else {
        localStorage.theme = 'dark';
        document.documentElement.classList.add('dark');
      }
    }
  }"
>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ site.title }}</title>
    <link rel="preconnect" href="https://cdn.jsdelivr.net"/>
    <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/misans@4.0.0/lib/Latin/MiSansLatin-Regular.min.css" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/misans@4.0.0/lib/Latin/MiSansLatin-Bold.min.css" onload="this.onload=null;this.rel='stylesheet'">

    <noscript>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/misans@4.0.0/lib/Latin/MiSansLatin-Regular.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/misans@4.0.0/lib/Latin/MiSansLatin-Bold.min.css">
    </noscript>

    {% if type | criticalExists %}
      <style>
        {{type | getCritical}}
      </style>
      <link rel="preload" href="/assets/main.bundle.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    {% else %}
      <link rel="stylesheet" href="/assets/main.bundle.css" media="all">
    {% endif %}

    <script src="/assets/main.bundle.js" defer></script>

    {% if (site.google_site_verification) %}
      <meta
      name="google-site-verification"
      content="{{ site.google_site_verification }}"
/>
    {% endif %}

    {% if (site.microsoft_site_verification) %}
      <meta
      name="msvalidate.01"
      content="{{ site.microsoft_site_verification }}"
/>
    {% endif %}

    <meta name="description" content="{{ site.description }}"/>
    <link
      rel="shortcut icon"
      href="/images/favicon/favicon.ico"
      type="image/x-icon"
/>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-touch-icon.png"
/>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon/favicon-32x32.png"
/>
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon/favicon-16x16.png"
/>
    <link rel="manifest" href="/images/favicon/site.webmanifest"/>
    <link
      rel="mask-icon"
      href="/images/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="theme-color" content="#ffffff"/>
  </head>
  <body
    class="{{ 'debug-screens' if env.devMode }} bg-fixed lazy text-gray-600 bg-gray-100 dark:bg-gray-900 dark:text-gray-100"
  >
    {% include 'header.njk' %}

    <main class="site-content">
      {% block body %}
        {{ content | safe }}
      {% endblock %}
    </main>
    {% include 'partials/contact.njk' %}
    {% include 'footer.njk' %}
  </body>
</html>