@import '../../node_modules/venobox/dist/venobox.css';

@import 'tailwindcss';
@layer theme, base, components, utilities;

@layer base {
  /* Custom Base Styles Go Here. */
  html {
    @apply text-gray-100 antialiased font-sans;
  }

  /* This allows you to hide Alpine DOM until it's ready to go. */
  [x-cloak] {
    @apply hidden;
  }

  input:checked ~ .block {
    @apply bg-rose-900;
  }

  input:checked ~ .dot {
    @apply translate-x-full bg-gray-100;
  }

  .contact {
    form {
      label {
        @apply block font-bold text-lg sm:text-xl md:text-2xl;
      }
    }
  }

  .close {
    @apply absolute right-8 top-8 w-8 h-8 opacity-100 hover:opacity-90 before:content-[''];
    &:before,
    &:after {
      @apply absolute left-[15px] content-[''] h-[33px] w-1 bg-gray-700 rounded-sm dark:bg-rose-900;
    }
    &:before {
      @apply rotate-45;
    }
    &:after {
      @apply -rotate-45;
    }
  }
}

@layer utilities {
  /* Custom Utilities Go Here. */
  .recursive {
    font-family: 'Recursive', sans-serif;
    font-optical-sizing: auto;
    &-regular {
      font-weight: 400;
      font-style: normal;
      font-variation-settings:
        'slnt' 0,
        'CASL' 0,
        'CRSV' 0.5,
        'MONO' 0;
    }
    &-bold {
      font-weight: 700;
      font-style: normal;
      font-variation-settings:
        'slnt' 0,
        'CASL' 0,
        'CRSV' 0.5,
        'MONO' 0;
    }
  }
}
#about {
  @apply relative;
  &:before {
    @apply content-[''] bg-white h-8 w-full absolute left-0 bottom-0;
    clip-path: polygon(
      0% 0%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      0% 100%
    );
  }
}

#testimonials {
  @apply relative;
  &:before {
    @apply content-[''] bg-white h-8 w-full absolute left-0 top-0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%, 0% 0%);
  }
}
