/* Custom Utilities Go Here. */
.recursive {
  font-family: 'Recursive', sans-serif;
  font-optical-sizing: auto;
  &-regular {
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      'slnt' 0,
      'CASL' 0,
      'CRSV' 0.5,
      'MONO' 0;
  }
  &-bold {
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      'slnt' 0,
      'CASL' 0,
      'CRSV' 0.5,
      'MONO' 0;
  }
}

.btn-light {
  @apply bg-gray-800 text-gray-100 hover:bg-gray-900 dark:bg-gray-900 dark:text-white dark:hover:bg-gray-800;
}

.btn-dark {
  @apply bg-gray-900 text-white hover:bg-gray-900 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-600;
}
