/* Custom Utilities Go Here. */
.recursive {
  font-family: 'Recursive', sans-serif;
  font-optical-sizing: auto;
  &-regular {
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      'slnt' 0,
      'CASL' 0,
      'CRSV' 0.5,
      'MONO' 0;
  }
  &-bold {
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      'slnt' 0,
      'CASL' 0,
      'CRSV' 0.5,
      'MONO' 0;
  }
}

.animation {
  @apply opacity-0 -translate-x-full transition-all duration-700 ease-out blur-0 grid items-center min-h-screen;
}

.scroll-animation {
  @apply opacity-100 translate-x-0 blur-none;
}
