{% set title = 'Home' %}
{% extends "layout.njk" %}

{% block body %}
  {% include 'partials/about.njk' %}
  {% include 'partials/portfolio.njk' %}
  {% include 'partials/testimonials.njk' %}
{% endblock %}
