<section
  id="js-scroll-to-about"
  class="flex w-full items-center justify-center py-24 lg:h-screen lg:py-0"
>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="content lg:w-[700px]">
      <h1
        class="font-barlow-condensed text-10xl tracking-wide text-gray-700 dark:text-rose-900 sm:text-18xl md:text-20xl"
      >
        Hello.
      </h1>
      <hr class="mt-8 h-1 rounded-sm border-2 border-gray-700 dark:border-rose-900" />
      <div class="py-8 text-2xl md:py-12">
        <p class="mb-6">
          Rotsen is a Jamstack web developer based in the Philippines. He is a
          passionate developer and loves to create beautiful and functional
          websites.
        </p>
      </div>

      <div class="button-container flex space-x-6 text-gray-100">
        <a
          href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#114;&#111;&#116;&#115;&#101;&#110;&#097;&#099;&#111;&#098;&#046;&#099;&#111;&#109;"
          class="block rounded-xl rounded-br-none border-2 border-gray-700 dark:border-rose-900 bg-gray-700 dark:bg-rose-900 px-8 py-3 text-xl uppercase transition-all hover:bg-transparent hover:text-gray-700 dark:hover:text-gray-100 dark:hover:bg-transparent sm:inline-block lg:px-10 lg:py-3 lg:text-2xl"
          target="_blank"
        >
          Contact
        </a>

        <a
          href="https://standardresume.co/r/YRlivh8oXpoft8SgKK2y9"
          class="block rounded-xl rounded-br-none border-2 border-gray-700 dark:border-rose-900 bg-transparent dark:bg-transparent bg-gray-700 dark:bg-rose-900 px-8 py-3 text-xl uppercase text-gray-700 dark:text-rose-900 transition-all hover:bg-gray-700 dark:hover:bg-rose-900 hover:text-gray-100 dark:hover:text-gray-100 sm:inline-block lg:px-10 lg:py-3 lg:text-2xl"
          target="_blank"
        >
          Resume
        </a>
      </div>
    </div>
  </div>
</section>
<!-- About Section -->
