<section
  id="about"
  class="flex bg-base-200 items-center min-h-svh justify-center w-full py-16 text-base-content sm:py-24 xl:py-36 section before:bg-base-100"
>
  <div class="container px-4 mx-auto sm:px-6 lg:px-8">
    <div class="content lg:max-w-3xl">
    <h1
  class="text-4xl font-bold sm:text-xl md:text-7xl"
    >
        {{ site.pageTitle  }}
      </h1>
      <div class="py-8 text-xl md:text-2xl md:py-12">
        {{ site.pageContent | safe }}
      </div>

      <div class="grid grid-cols-none gap-8 text-gray-100 sm:grid-cols-2 button-container">
        <a
          href="#contact"
          id="open-contact"
          class="du-btn du-btn-primary text-xl md:text-2xl"
        >
          Free Consultation
        </a>
      </div>
    </div>
  </div>
</section>
<!-- About Section -->