<section
  id="about"
  class="flex items-center justify-center w-full py-16 text-gray-600 sm:py-24 xl:py-36 dark:text-gray-100"
>
  <div class="container px-4 mx-auto sm:px-6 lg:px-8">
    <div class="content lg:w-[700px]">
      <h1
        class="text-4xl font-bold tracking-wide text-gray-900 dark:text-rose-900 sm:text-xl md:text-7xl"
      >
        Craft. Integrate. Elevate. Your Web Presence.
      </h1>
      <hr class="h-1 mt-8 border-2 border-gray-700 rounded-sm dark:border-rose-900"/>
      <div class="py-8 text-xl md:text-2xl md:py-12">
        <p class="mb-6">
          I bring a wealth of experience in responsive web development, WordPress troubleshooting, lead generation strategies, web API integration, and exceptional customer support to the table,  helping businesses and individuals achieve their online potential.
        </p>
      </div>

      <div class="grid grid-cols-none gap-8 text-gray-100 sm:grid-cols-2 button-container">
        <a
          href="#contact"
          id="open-contact"
          class="block px-8 py-3 mb-5 text-xl text-center uppercase transition-all bg-gray-700 border-2 border-gray-700 rounded-br-none md:mb-0 rounded-xl dark:border-rose-900 dark:bg-rose-900 hover:bg-transparent hover:text-gray-700 dark:hover:text-gray-100 dark:hover:bg-transparent sm:inline-block lg:px-10 lg:py-3 lg:text-2xl"
        >
          Free Consultation
        </a>
      </div>
    </div>
  </div>
</section>
<!-- About Section -->