<section id="contact" class="hidden w-full py-16 text-gray-700 justify-items-center contact bg-white dark:bg-gray-800 dark:text-gray-100 sm:py-24 scroll-mt-12 sm:min-h-screen sm:scroll-mt-24 section before:bg-gray-100 dark:before:bg-gray-900">
  <div class="container relative px-4 py-4 mx-auto sm:px-6 lg:px-8 lg:py-8 overflow-auto">
    <div
      class="mb-8 section-heading"
    >
      <h2 class="mb-4 text-4xl font-bold text-gray-700 section-title grow sm:text-6xl dark:text-gray-100 sm:mb-0">
        Let's Talk
      </h2>
      <p class="text-xl subheading md:text-2xl md:py-12">Welcome! Tell me more about your project, and I'll be happy to see how I can assist.</p>
    </div>
    <form method="POST" action="/api/contact" enctype="multipart/form-data" class="space-y-6">
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4">
        <div class="du-form-control w-full">
          <label class="du-label" for="name">
            <span class="du-label-text">Full Name</span>
          </label>
          <input class="du-input du-input-bordered w-full" id="name" name="name" type="text" pattern="^(\w\w+)\s(\w+)$" required />
        </div>

        <div class="du-form-control w-full">
          <label class="du-label" for="email">
            <span class="du-label-text">Email Address</span>
          </label>
          <input class="du-input du-input-bordered w-full" id="email" name="email" type="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" required />
        </div>

        <div class="du-form-control w-full">
          <label class="du-label" for="website">
            <span class="du-label-text">Website</span>
          </label>
          <input class="du-input du-input-bordered w-full" id="website" name="website" type="url" required pattern="https?://.+" />
        </div>
        <div class="du-form-control w-full">
          <label class="du-label" for="services">
            <span class="du-label-text">Service</span>
          </label>
          <select class="du-select du-select-bordered w-full" id="services" name="services" required>
            <option hidden disabled selected value></option>
            <option value="WordPress Plugin">WordPress Plugin</option>
            <option value="Web Design">Web Design</option>
            <option value="PSD to WordPress">PSD to WordPress</option>
            <option value="PSD to WooCommerce">PSD to WooCommerce</option>
            <option value="PSD to VueJS">PSD to VueJS</option>
          </select>
        </div>
      </div>

      <div class="du-form-control">
        <label class="du-label" for="message">
          <span class="du-label-text">Tell me more about your project</span>
        </label>
        <textarea class="du-textarea du-textarea-bordered h-32" name="message" id="message" required></textarea>
      </div>

      <div class="mb-8 cf-turnstile" data-sitekey="{{ site.turnstile_site_key }}"></div>

      <button class="du-btn du-btn-primary" type="submit">Submit</button>
    </form>
  </div>
</section>