<section id="contact" class="fixed top-0 left-0 z-50 items-center hidden w-full h-full py-16 text-gray-600 bg-gray-100 justify-items-center contact dark:bg-gray-900 dark:text-gray-100">
  <div class="container h-full overflow-auto">
    <a aria-label="Close button" href="#contact" id="close-contact" class="close">&nbsp;</a>
    <div
      class="mb-8 section-heading"
    >
      <h2 class="mb-4 text-4xl font-bold text-gray-700 section-title grow sm:text-6xl dark:text-gray-100 sm:mb-0">
        Let's Talk
      </h2>
      <p class="text-xl subheading md:text-2xl md:py-12">Welcome! Tell me more about your project, and I'll be happy to see how I can assist.</p>
    </div>
    <form method="POST" action="/api/contact" enctype="multipart/form-data">
      <div class="grid grid-cols-none gap-4 mb-4 sm:grid-cols-2 md:grid-cols-4 sm:gap-8 sm:mb-8">
        <div class="input">
          <label for="name">Full Name</label>
          <input class="block w-full mt-2 text-gray-700 transition-all bg-transparent bg-gray-700 border-2 border-gray-700 rounded-br-none form-input rounded-xl dark:border-rose-900 dark:bg-transparent dark:bg-rose-900 dark:text-rose-900 focus:bg-gray-700 dark:focus:bg-rose-900 focus:text-gray-100 dark:focus:text-gray-100 lg:text-2xl" id="name" name="name" type="text"/>
        </div>

        <div class="input">
          <label for="email">Email Address</label>
          <input class="block w-full mt-2 text-gray-700 transition-all bg-transparent bg-gray-700 border-2 border-gray-700 rounded-br-none form-input rounded-xl dark:border-rose-900 dark:bg-transparent dark:bg-rose-900 dark:text-rose-900 focus:bg-gray-700 dark:focus:bg-rose-900 focus:text-gray-100 dark:focus:text-gray-100 lg:text-2xl" id="email" name="email" type="email"/>
        </div>

        <div class="input">
          <label for="website">Website</label>
          <input class="block w-full mt-2 text-gray-700 transition-all bg-transparent bg-gray-700 border-2 border-gray-700 rounded-br-none form-input rounded-xl dark:border-rose-900 dark:bg-transparent dark:bg-rose-900 dark:text-rose-900 focus:bg-gray-700 dark:focus:bg-rose-900 focus:text-gray-100 dark:focus:text-gray-100 lg:text-2xl" id="website" name="website" type="text"/>
        </div>
        <div class="input">
          <label for="services">Service</label>
          <select class="block w-full mt-2 text-gray-700 transition-all bg-transparent bg-gray-700 border-2 border-gray-700 rounded-br-none form-select rounded-xl dark:border-rose-900 dark:bg-transparent dark:bg-rose-900 dark:text-rose-900 focus:bg-gray-700 dark:focus:bg-rose-900 focus:text-gray-100 dark:focus:text-gray-100 lg:text-2xl" id="services" name="services">
            <option value="WordPress Plugin">WordPress Plugin</option>
            <option value="Web Design">Web Design</option>
            <option value="PSD to WordPress">PSD to WordPress</option>
            <option value="PSD to WooCommerce">PSD to WooCommerce</option>
            <option value="PSD to VueJS">PSD to VueJS</option>
          </select>
        </div>
      </div>

      <div class="mb-4 sm:mb-8 message">
        <label for="message">Tell me more about your project</label>
        <textarea class="block w-full mt-2 text-gray-700 transition-all bg-transparent bg-gray-700 border-2 border-gray-700 rounded-br-none form-textarea rounded-xl dark:border-rose-900 dark:bg-transparent dark:bg-rose-900 dark:text-rose-900 focus:bg-gray-700 dark:focus:bg-rose-900 focus:text-gray-100 dark:focus:text-gray-100 lg:text-2xl" name="message" id="message" cols="30" rows="5"></textarea>
      </div>

      <div class="mb-8 cf-turnstile" data-sitekey="{{ site[0].turnstile_site_key }}"></div>

      <button class="px-8 py-3 mb-5 text-xl text-center text-gray-100 uppercase transition-all bg-gray-700 border-2 border-gray-700 rounded-br-none md:mb-0 rounded-xl dark:border-rose-900 dark:bg-rose-900 hover:bg-transparent hover:text-gray-700 dark:hover:text-gray-100 dark:hover:bg-transparent lg:text-2xl" type="submit">Submit</button>
    </form>
  </div>
</section>