<section id="js-scroll-to-testimonials" class="flex w-full min-h-screen scroll-mt-12 py-12 sm:scroll-mt-24 sm:py-24 lg:py-0">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="filter-container relative grid grid-cols-2 place-content-between items-center py-10">
      <h2 class="section-title text-4xl sm:text-6xl font-bold">Testimonials</h2>
    </div>
    
    {% if testimonials %}
    <div class="testimonials grid grid-cols-none sm:grid-cols-2 lg:grid-cols-3 gap-14 gap-y-14">
      {% for testimonial in testimonials %}
        <div class="testimonial w-100 flex flex-col space-between">
          <blockquote class="grow rounded-2xl p-8 bg-gray-100 text-gray-900 rounded-br-none block text-xl mb-6">
            {{ testimonial.content | safe }}
          </blockquote>
          <div class="flex items-center content-end text-right flex-row-reverse">
            <img width="150" height="150" class="w-10 h-10 rounded-full ml-4 lazy" data-src="{% portfolioImage testimonial.image %}" alt="{{ testimonial.title }}" />
            <div class="text-sm">
              <h3 class="font-bold">{{ testimonial.title }}</h3>
              <p class="text-xs">{{ testimonial.location }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section> <!-- Testimonials Section -->