<section
  id="testimonials"
  class="flex w-full bg-base-200 items-center min-h-svh justify-center py-16 sm:py-24 scroll-mt-12 sm:scroll-mt-24 section before:bg-base-100"
>
  <div class="container px-4 mx-auto sm:px-6 lg:px-8">
    <div
      class="relative grid items-center grid-cols-2 py-10 filter-container place-content-between"
    >
  <h2 class="text-4xl font-bold section-title sm:text-6xl">Testimonials</h2>
    </div>

    {% if testimonials %}
      <div
      class="grid grid-cols-none testimonials gap-14 gap-y-14 sm:grid-cols-2 lg:grid-cols-3"
    >
        {% for testimonial in testimonials %}
          <div class="du-card bg-base-100 du-shadow-xl">
            <div class="du-card-body">
              <p class="text-xl">{{ testimonial.content | safe }}</p>
              <div class="du-card-actions justify-end items-center">
                <img
                  width="150"
                  height="150"
                  class="w-10 h-10 ml-4 rounded-full lazy"
                  data-src="{% portfolioImage testimonial.image %}"
                  alt="{{ testimonial.title }}"
                />
                <div class="text-sm text-right">
                  <h3 class="font-bold">{{ testimonial.title }}</h3>
                  <p class="text-xs opacity-70">{{ testimonial.location }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
<!-- Testimonials Section -->