<section
  id="testimonials"
  class="flex w-full bg-gray-100 items-center min-h-svh justify-center py-16 sm:py-24 scroll-mt-12 sm:scroll-mt-24 section before:bg-white dark:before:bg-gray-800 dark:bg-gray-900"
>
  <div class="container px-4 mx-auto sm:px-6 lg:px-8">
    <div
      class="relative grid items-center grid-cols-2 py-10 filter-container place-content-between"
    >
      <h2 class="text-4xl font-bold text-gray-700 section-title sm:text-6xl dark:text-gray-100">Testimonials</h2>
    </div>

    {% if testimonials %}
      <div
      class="grid grid-cols-none testimonials gap-14 gap-y-14 sm:grid-cols-2 lg:grid-cols-3"
    >
        {% for testimonial in testimonials %}
          <div class="flex flex-col w-full testimonial space-between">
            <blockquote
          class="block p-8 mb-6 text-xl text-gray-700 bg-white rounded-br-none grow rounded-2xl dark:bg-gray-100 dark:text-gray-700 drop-shadow-xl shadow-gray-700"
        >
              {{ testimonial.content | safe }}
            </blockquote>
            <div class="flex flex-row-reverse items-center content-end text-right">
              <img
            width="150"
            height="150"
            class="w-10 h-10 ml-4 rounded-full lazy"
            data-src="{% portfolioImage testimonial.image %}"
            alt="{{ testimonial.title }}"
/>
              <div class="text-sm">
                <h3 class="font-bold text-gray-900 dark:text-gray-100 font-ibm-plex-sans-condensed">{{ testimonial.title }}</h3>
                <p class="text-xs text-gray-600 dark:text-gray-200">{{ testimonial.location }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
<!-- Testimonials Section -->